
<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Best Advice!</h1>
      <p>Register to share your wisdom.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>

<h2> ... because everyone has a lifetime of advice to share</h2>
